extends ../base

block content
    body
            div(class='card', id='login_div')
                form(action="")
                    div(class='form-group')
                        input(type="text", placeholder='Employee ID' class='form-control opt') 
                    div(class='form-group')
                        input(type='submit', class='btn btn-primary') 