doctype html 

html 
    head
        link(rel='stylesheet', href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
        link(rel="stylesheet", href="/css/styles.css")
        script(src='/js/render.js')
        title Work-Safe Dashboard

block content