extends base

block content

    body 
        div(id='main')
            div(class='titles_div')
                h1(class='display-1', id='title') Worker-Safe
                h1(class='display-6') by LimitlessCreators
            include includes/verification
            include includes/footer