.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  @include defaultFont;
  transition: all 300ms ease-in-out;
  width: 100vw;
  height: 100vh;
  align-items: center;
  &--light {
    background-color: #f7f7f7;
    color: rgba($primary-font-color, 1);
  }

  &--dark {
    background-color: #202124;
    color: rgba($secondary-font-color, 1);
  }
}
